$boardwidth: 802px;
$boardheight: 402px;
$gray: #666;

body {
  background-color: #fffbf8;
}

#app {
  width: $boardwidth;
  margin: 20px auto;
}

#header {
  border-bottom: 2px solid $gray;
  margin-bottom: 20px;
  h2 {
    color: $gray;
    font-family: Tahoma, Geneva, sans-serif;
    margin: 8px 0px;
  }
}

svg {
  width: $boardwidth;
  height: $boardheight;
  rect {
    width: $boardwidth;
    height: $boardheight;
    fill: papayawhip;
  }
  circle {
    &.ontrue {
      fill: forestgreen;
    }
    &.onfalse {
      fill: #F2DFC2;
    }
  }
}

#ctbar {
  margin: 15px 0px;
  button {
    height: 30px;
    width: 120px;
    padding: auto auto;
    margin-right: 15px;
    border: none;
    border-radius: 5px;
    background-color: papayawhip;
    color: $gray;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 16px;
  }
  #generations {
    color: $gray;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 16px;
  }
}

#footer {
  border-top: 2px solid $gray;
  margin-top: 20px;
  p {
    color: $gray;
    font-family: Tahoma, Geneva, sans-serif;
    margin: 8px 0px;
  }
}
