$boardwidth: 802px;
$boardheight: 402px;
$gray: #666;
$tanlight: papayawhip;
$tandark: #F2DFC2;
$green: forestgreen;

body {
  background-color: #fffbf8;
}

#app {
  width: $boardwidth;
  margin: 20px auto;
}

#header {
  border-bottom: 2px solid $gray;
  margin-bottom: 20px;
  h2 {
    color: $gray;
    font-family: Tahoma, Geneva, sans-serif;
    margin: 8px 0px;
  }
}

svg {
  width: $boardwidth;
  height: $boardheight;
  rect {
    width: $boardwidth;
    height: $boardheight;
    fill: $tanlight;
  }
  circle {
    &.ontrue {
      fill: $green;
    }
    &.onfalse {
      fill: $tandark;
    }
  }
}

#ctbar {
  margin: 15px 0px;
  button {
    height: 24px;
    width: 120px;
    padding: auto auto;
    margin-right: 15px;
    border: none;
    border-radius: 5px;
    background-color: $tandark;
    color: $gray;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    &:hover {
      background-color: $green;
      color: $tanlight;
      cursor: pointer;
    }
  }
  #generations {
    color: $gray;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 16px;
  }
}

#footer {
  border-top: 2px solid $gray;
  margin-top: 20px;
  p {
    color: $gray;
    font-family: Tahoma, Geneva, sans-serif;
    margin: 8px 0px;
  }
}
