body {
  background-color: #fffbf8; }

#app {
  width: 802px;
  margin: 20px auto; }

#header {
  border-bottom: 2px solid #666;
  margin-bottom: 20px; }
  #header h2 {
    color: #666;
    font-family: Tahoma, Geneva, sans-serif;
    margin: 8px 0px; }

svg {
  width: 802px;
  height: 402px; }
  svg rect {
    width: 802px;
    height: 402px;
    fill: papayawhip; }
  svg circle.ontrue {
    fill: forestgreen; }
  svg circle.onfalse {
    fill: #F2DFC2; }

#ctbar {
  margin: 15px 0px; }
  #ctbar button {
    height: 24px;
    width: 120px;
    padding: auto auto;
    margin-right: 15px;
    border: none;
    border-radius: 5px;
    background-color: #F2DFC2;
    color: #666;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px; }
    #ctbar button:hover {
      background-color: forestgreen;
      color: papayawhip;
      cursor: pointer; }
  #ctbar #generations {
    color: #666;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 16px; }

#footer {
  border-top: 2px solid #666;
  margin-top: 20px; }
  #footer p {
    color: #666;
    font-family: Tahoma, Geneva, sans-serif;
    margin: 8px 0px; }
